* {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-bottom: 30px;
}

.card {
  background: #111827;
  border: 1px solid #1f2937;
  border-radius: 12px;
  padding: 20px;
}

.card h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.warning {
  border-color: orange;
}

.success {
  border-color: #10b981;
}

.new-order,
.orders-list {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.new-order h2,
.orders-list h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea,
select {
  background: #1f2937;
  border: none;
  padding: 14px;
  border-radius: 8px;
  color: white;
}

button {
  background: #ff6b00;
  border: none;
  padding: 15px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.order-card {
  background: #1f2937;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

.order-card h3 {
  margin-bottom: 10px;
}

.priority {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  background: orange;
}* {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-bottom: 30px;
}

.card {
  background: #111827;
  border: 1px solid #1f2937;
  border-radius: 12px;
  padding: 20px;
}

.card h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.warning {
  border-color: orange;
}

.success {
  border-color: #10b981;
}

.new-order,
.orders-list {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.new-order h2,
.orders-list h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea,
select {
  background: #1f2937;
  border: none;
  padding: 14px;
  border-radius: 8px;
  color: white;
}

button {
  background: #ff6b00;
  border: none;
  padding: 15px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.order-card {
  background: #1f2937;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

.order-card h3 {
  margin-bottom: 10px;
}

.priority {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  background: orange;
}
